# DataFrame

In [116]:
import pandas as pd

In [117]:
student = {
    "name" : ["yahiya", "abid" , "ali"],
    "roll" : [21, 22, 23],
    "dept" : ["cse", "eee", "ice"]
}

print(student)
print()

df = pd.DataFrame(student)
print(df)

{'name': ['yahiya', 'abid', 'ali'], 'roll': [21, 22, 23], 'dept': ['cse', 'eee', 'ice']}

     name  roll dept
0  yahiya    21  cse
1    abid    22  eee
2     ali    23  ice

In [118]:
# custom index
df = pd.DataFrame(student)
print(df)

     name  roll dept
0  yahiya    21  cse
1    abid    22  eee
2     ali    23  ice

In [119]:
print(df.loc[1])

name    abid
roll      22
dept     eee
Name: 1, dtype: object

**Add a new column to the DataFrame**

In [120]:
df["age"] = [23, 23, 25]
print(df)

     name  roll dept  age
0  yahiya    21  cse   23
1    abid    22  eee   23
2     ali    23  ice   25

**Add a new column to the DataFrame**

In [ ]:
"""
in pandas , a plain dics is treated as columns, now rows. 
to create a single row dataframe we need to wrape the value in list or need tp use a list of dics
"""

In [122]:
# using list of dics
new_dics = [{
    "name" : 'aisf',
    "roll" : 24,
    "dept" : 'eee',
    "age" : 22,
}]
new_row = pd.DataFrame(new_dics)
print(new_row)

   name  roll dept  age
0  aisf    24  eee   22

In [123]:
# using wraped valued dictionary
new_dics = {
    "name" : ['aisf'],
    "roll" : [24],
    "dept" : ['eee'],
    "age" : [22],
}
new_row = pd.DataFrame(new_dics)
print(new_row)

   name  roll dept  age
0  aisf    24  eee   22

In [124]:
df = pd.concat([df, new_row])
print(df)

     name  roll dept  age
0  yahiya    21  cse   23
1    abid    22  eee   23
2     ali    23  ice   25
0    aisf    24  eee   22

**Add more than one row in data frame**

In [125]:
new_rows = [
    {"name" : 'ajax', "roll" : 11, "dept" : "cse", "age" : 20},
    {"name" : 'amin', "roll" : 12, "dept" : "cse", "age" : 21},
]
new_rows = pd.DataFrame(new_rows)
df= pd.concat([df, new_rows], ignore_index=True)
print(df)

     name  roll dept  age
0  yahiya    21  cse   23
1    abid    22  eee   23
2     ali    23  ice   25
3    aisf    24  eee   22
4    ajax    11  cse   20
5    amin    12  cse   21