In [1]:
import pandas as pd

**Selection by Column**

In [ ]:
df = pd.read_csv("students_large_dataset.csv")
print(df["name"])

#print(df["name"].to_string())  # for printing all the data 

print(df["department"])

In [7]:
# multiple columns
print(df[["name", "department"]])

        name department
0     Karima        ICE
1     Karima         CE
2     Arafat        ICE
3     Arafat         CE
4    Sumaiya        CSE
..       ...        ...
175    Hasan        CSE
176  Sumaiya        ICE
177    Imran        ICE
178    Rakib        EEE
179    Hasan         ME

[180 rows x 2 columns]

**selection by rows**

In [8]:
print(df.loc[0])

student_id              1001
name                  Karima
department               ICE
semester                   5
cgpa                    2.49
attendance_percent        68
Name: 0, dtype: object

In [21]:
# set a column as index
df = pd.read_csv("students_large_dataset.csv", index_col="student_id")
print(df)

               name department  semester  cgpa  attendance_percent
student_id
1001         Karima        ICE         5  2.49                  68
1002         Karima         CE         2  3.18                  62
1003         Arafat        ICE         4  2.47                  98
1004         Arafat         CE         4  3.43                  94
1005        Sumaiya        CSE         8  3.18                  60
...             ...        ...       ...   ...                 ...
1176          Hasan        CSE         5  3.10                  95
1177        Sumaiya        ICE         4  3.98                  67
1178          Imran        ICE         3  3.00                  78
1179          Rakib        EEE         7  3.67                  90
1180          Hasan         ME         3  2.77                  98

[180 rows x 5 columns]

In [23]:
# now access by new index (row wise)
print(df.loc[1180])

name                  Hasan
department               ME
semester                  3
cgpa                   2.77
attendance_percent       98
Name: 1180, dtype: object

**Row and Column**

In [26]:
print(df.loc[1177 : 1180, ["department", "cgpa"]])

           department  cgpa
student_id
1177              ICE  3.98
1178              ICE  3.00
1179              EEE  3.67
1180               ME  2.77

In [31]:
# integer indexing
print(df.iloc[0:10 , 0:2])

               name department
student_id
1001         Karima        ICE
1002         Karima         CE
1003         Arafat        ICE
1004         Arafat         CE
1005        Sumaiya        CSE
1006          Tanim         ME
1007          Sadia        ICE
1008         Nayeem         CE
1009          Anika        ICE
1010         Mariya        EEE

In [ ]:
print(df.iloc[::-1]) # reverse the data

               name department  semester  cgpa  attendance_percent
student_id
1180          Hasan         ME         3  2.77                  98
1179          Rakib        EEE         7  3.67                  90
1178          Imran        ICE         3  3.00                  78
1177        Sumaiya        ICE         4  3.98                  67
1176          Hasan        CSE         5  3.10                  95
...             ...        ...       ...   ...                 ...
1005        Sumaiya        CSE         8  3.18                  60
1004         Arafat         CE         4  3.43                  94
1003         Arafat        ICE         4  2.47                  98
1002         Karima         CE         2  3.18                  62
1001         Karima        ICE         5  2.49                  68

[180 rows x 5 columns]

In [ ]:
print(df.iloc[[3,2,1], [0,3]])

              name  cgpa
student_id
1004        Arafat  3.43
1003        Arafat  2.47
1002        Karima  3.18